[Unit]
Description=TKO Preparation Controller
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=%h/go/bin/tko-preparer start --journald --grpc-ip-stack=$GRPC_IP_STACK -v
