[Unit]
Description=TKO Data
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=%h/go/bin/tko-data start \
--journald \
--backend=$BACKEND \
--backend-clean=$BACKEND_CLEAN \
--grpc-ip-stack=$GRPC_IP_STACK \
--name=$NAME \
--description=systemd \
-v
